<!DOCTYPE html>
<html>
    
    <body>
        <section>
            <div style="top:-15% ;" class = "image">
               <img  src="../../../assets/about.jpg">
             </div>

            <div class = "content">
                <h2>About Us</h2>
                <span></span>
                <p>
                    For ALL was founded by Jalene Hailu in 2022 with a vision of providing life-transforming learning experiences to learners around the world. Today, For ALL is a global online learning platform that offers anyone, anywhere, access to online courses and degrees from leading universities and companies. For ALL received B Corp certification in February 2021, which means that we have a legal duty not only to our shareholders, but to also make a positive impact on society more broadly, as we continue our efforts to reduce barriers to world-class education for all.
                    
                   </p>
                <ul class = "links">
                    <li><a routerLink="contact-us">contact-us</a></li>
                    <div class = "vertical-line"></div>
                    
            
                </ul>
                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                    <li>
                        <i class = "fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </section><br><br>
    
    </body>
</html>

