<body>
<div class="gallery">
  
    <img src="../../assets/angular.png" alt="Cinque Terre" width="600" height="400">
  
  <div class="desc"><h1>Learn angular</h1>
  <p>Angular is a platform for building mobile and desktop web applications.</p>
<button  class="jn"> <a routerLink="joinnow"> Start course</a></button>
</div>
</div>

<div class="gallery">
  
    <img src="../../assets/typescript.png" alt="Forest" width="600" height="400">
 
  <div class="desc"><h1>Learn TypeScript</h1>
    <p>TypeScript is a syntactic superset of JavaScript which adds static typing.</p>
    <a   routerLink="joinnow" > <button  class="jn">Start course</button></a></div>
</div>

<div class="gallery">
  
    <img src="../../assets/react.png" alt="Northern Lights" width="600" height="400">

  <div class="desc"><h1>Learn React</h1>
    <p>React is a JavaScript library for building user interfaces.</p>
    <a routerLink="joinnow"> <button  class="jn">Start course</button></a></div>
</div>

<div class="gallery">

    <img src="../../assets/laravel.png" alt="Mountains" width="600" height="400">

  <div class="desc"><h1>Learn Laravel</h1>
    <p>Laravel is a PHP web application framework with expressive, elegant syntax.</p>
    <a routerLink="joinnow"> <button  class="jn">Start course</button></a></div>
</div>



<div class="gallery">
  
    <img src="../../assets/node.png" alt="Forest" width="600" height="400">
 
  <div class="desc"><h1>Learn Node.JS</h1>
    <p>Node.js is an open source server environment. Node.js allows you to run JavaScript on the server.</p>
    <a routerLink="joinnow"> <button  class="jn">Start course</button></a></div>
</div>

<div class="gallery">

    <img src="../../assets/php.png" alt="Northern Lights" width="600" height="400">

  <div class="desc"><h1>Learn PHP</h1>
    <p>A popular general-purpose scripting language that is especially suited to web development.</p>
    <a routerLink="joinnow"> <button  class="jn">Start course</button></a></div>
</div>

<div class="gallery" routerLink="joinnow">
 
    <img src="../../assets/msql.png" alt="Mountains" width="600" height="400">

  <div class="desc"><h1>Learn My SQL</h1>
    <p>MySQL is a widely used relational database management system (RDBMS).</p>
    <a routerLink="joinnow"> <button  class="jn">Start course</button></a></div>
</div>
    </body>
